
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #ffffff;
}

header {
    background-color: #f7b26c;
    color: white;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 75vh;
}

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.property {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.property img {
    width: 100%;
    border-radius: 5px;
}

.navbar-logo {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {
    .navbar-logo {
        width: 75px;
        height: 75px;
    }
}

.about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.about-us-content {
    flex: 1;
    padding-right: 2rem;
}

.about-us-images {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-us-images img {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
    border: 2px solid #f7b26c;
    border-radius: 5px;
}

.additional-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; 
    margin-top: 2rem;
}

.date-picker-form {
    max-width: 600px;
    margin: 0 auto;
}

.date-picker-form input {
    border: 2px solid #f7b26c;
    border-radius: 5px;
}

.date-picker-form button {
    background-color: #f7b26c;
    border: none;
    border-radius: 5px;
}

.date-picker-form button:hover {
    background-color: #e19c5b;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}