:root {
    --Jean: #6f8faf;
    --tan: #9f8c6d;
    --creamy-white: #f4f1ea;
    
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #B0C4DE;
    min-height: 100vh;
}
/* about us pg */
.additional-sections {
    min-height: 50vh; /* Set minimum height to full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    padding: 3rem; /* Adjust padding as needed */
}
/* about us pg */
.additional-sections .card {
    margin-bottom: 20px; /* Adjust margin between cards */
}
/* about us pg */
.card-deck {
    max-width: 1000px; /* Set maximum width for card deck */
}


/* Navbar styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
.navbar-brand img.navbar-logo {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}


/* Footer styles */

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Container and property styles */
.property {
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 20px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    display: block; /* Ensure the entire property is clickable */
    color: inherit; /* Inherit text color */
    text-decoration: none;
}
.property:hover {
    transform: scale(1.05);
}

.property img {
    width: 100%;
    border-radius: 25px;   
}

/* Property miami getaway Carousel Styling */
.carousel-inner img {
    height: 250px;
    object-fit: cover;
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar-brand img.navbar-logo {
        max-height: 60px;
    }

    h2.text-center {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .navbar-logo img.navbar-logo  {
        max-height: 100px; 
    }
}
.full-height {
    height: 170vh;
}
.about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

.about-us-content, .custom-about-style {
    font-family:'Poppins', sans-serif;
    font-size: 1.1rem;
    max-width: 600px; 
    max-height: 1000px; 
    background-color: #6F8FAF; 
    padding: 20px;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; 
    
}
.about-us-content {
    padding-right: 2rem; 
    flex: 1; 
    
}

.about-us-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the videos */
    gap: 2rem; /* Add gap between videos */
}

.about-us-images video {
    width: 300px;
    height: auto;
    border-radius: 15px;
}
.custom-about-style {
    margin-top: 2rem;

}

.about-us-images video:not(:first-child) {
    margin-top: 2rem;
}


.custom-about-style p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2rem;
    color: whitesmoke;
    margin-top: 2rem;
    font-weight: 200;
    font-style: italic;
}

.heading-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.heading-image1 {
    max-width: 100%; /* Ensure the image scales down on smaller screens */
    height: auto; /* Maintain aspect ratio */
}

.additional-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; 
    margin-top: 2rem;
}
.btn-primary {
    background-color: #9f8c6d; 
    border-color: #9f8c6d;
    color: #fff; 
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-fluid {
    object-fit: cover;
}





/* Contact Page Styling */
.contact-page {
    background-color: var(--creamy-white);
    font-family:'Poppins', sans-serif;
}
h1, h2 {
    font-weight: 600;
    color: #000000;
}

.heading-image {
    width: 100%; 
    max-width:90px;
    height: auto;
}

.lead {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color:var(--Jean);
}

.col-md-4 {
    font-family:'Poppins', sans-serif;
}

.col-md-8 {
    font-family:'Poppins', sans-serif;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 75vh;
}







