:root {
    --orange: #f88300;
    --darkblue: #3c3f99;
    --peach: #ffd8ac;
    --light-background: rgba(255,255,255, 0.8);
    
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #ecfdf8;
    color: #333;
}

/*Main container styles */

.main-container {
    background-color: rgba(255,255,255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.heading-image {
    max-width: 100%;
    height: auto;
}

.heading-with-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Navbar styles */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
.navbar-brand img.navbar-logo {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}

/* Main content styles */

main {
    padding: 20px;
    text-align: center;
    min-height: 75vh;
}
/* Footer styles */

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
/* Heading styles */
h1, h2 {
    font-weight: 600;
    color: #000000;
}

/* Container and property styles */
.container, #property-list, .property {
    padding-top: 50px;
    padding-bottom: 50px;
}

.property {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    display: block; /* Ensure the entire property is clickable */
    color: inherit; /* Inherit text color */
    text-decoration: none;
}
.property:hover {
    transform: scale(1.05);
}

.property img {
    width: 100%;
    border-radius: 5px;
}

/* Carousel Styling */
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.carousel-indicators li {
    background-color: #333;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
    padding: 10px;
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar-brand img.navbar-logo {
        max-height: 60px;
    }
    .carousel-inner blockquote {
        font-size: 1rem;
    }

    h2.text-center {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .navbar-logo img.navbar-logo  {
        max-height: 100px; 
    }
}
.full-height {
    height: 170vh;
}
.about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.about-us-content {
    flex: 1;
    padding-right: 2rem;
    font-size: 1.1rem;
}

.about-us-images {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-us-images img {
    width: 100%;
    margin-bottom: 2rem;
    border: 20px solid #ffd8ac;
    border-radius: 55px;
}
.custom-about-style {
    background-color: var(--peach);
    padding: 20px;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-about-style h1 {
    color: #007BFF; /* Primary Bootstrap color */
}

.custom-about-style p {
    font-size: 1.2rem;
    color: var(--darkblue);
    margin-top: 6rem;
}
.heading-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.heading-image {
    max-width: 100%; /* Ensure the image scales down on smaller screens */
    height: auto; /* Maintain aspect ratio */
}

.additional-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; 
    margin-top: 2rem;
}
/* Date picker form styles */

.date-picker-form {
    max-width: 600px;
    margin: 0 auto;
}

.date-picker-form input {
    border: 2px solid #f7b26c;
    border-radius: 5px;
}

.date-picker-form button {
    background-color: #f7b26c;
    border: none;
    border-radius: 5px;
}

.date-picker-form button:hover {
    background-color: #e19c5b;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-fluid {
    object-fit: cover;
}

.carousel-inner {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 10px solid #f7b26c;
    border-radius: 5px;
}

.carousel-inner .blockquote-footer {
    font-size: 1rem;
    color: #555;
    margin-top: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

h2.text-center {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.bg-light {
    background-color: var(peach);
}
