:root {
    --Jean: #6f8faf;
    --tan: #9f8c6d;
    --creamy-white: #f4f1ea;
    
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: white;
    color: #333;
    min-height: 100vh;
}
.additional-sections {
    min-height: 50vh; /* Set minimum height to full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    padding: 3rem; /* Adjust padding as needed */
}

.additional-sections .card {
    margin-bottom: 20px; /* Adjust margin between cards */
}

.card-deck {
    max-width: 1000px; /* Set maximum width for card deck */
}



/*Main container styles */

.main-container {
    background-color: rgba(255,255,255, 0.8);
    padding: 20px;
    border-radius: 10px;
}


/* Navbar styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
.navbar-brand img.navbar-logo {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}

/* Main content styles */

main {
    padding: 20px;
    text-align: center;
    min-height: 75vh;
}
/* Footer styles */

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
/* Heading styles */
h1, h2 {
    font-weight: 600;
    color: #000000;
}

/* Container and property styles */
.container, #property-list, .property {
    padding-top: 50px;
    padding-bottom: 50px;
}

.property {
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 20px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    display: block; /* Ensure the entire property is clickable */
    color: inherit; /* Inherit text color */
    text-decoration: none;
}
.property:hover {
    transform: scale(1.05);
}

.property img {
    width: 100%;
    border-radius: 25px;   
}

/* Carousel Styling */
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.carousel-indicators li {
    background-color: #333;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar-brand img.navbar-logo {
        max-height: 60px;
    }
    .carousel-inner blockquote {
        font-size: 1rem;
    }

    h2.text-center {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .navbar-logo img.navbar-logo  {
        max-height: 100px; 
    }
}
.full-height {
    height: 170vh;
}
.about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

.about-us-content, .custom-about-style {
    font-family:'Poppins', sans-serif;
    font-size: 1.1rem;
    max-width: 600px; 
    max-height: 1000px; 
    background-color: #6F8FAF; 
    padding: 20px;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; 
    
}
.about-us-content {
    padding-right: 2rem; 
    flex: 1; 
    
}

.about-us-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the videos */
    gap: 2rem; /* Add gap between videos */
}

.about-us-images video {
    width: 300px;
    height: auto;
    border-radius: 15px;
}
.custom-about-style {
    margin-top: 2rem;

}

.about-us-images video:not(:first-child) {
    margin-top: 2rem;
}


.custom-about-style p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2rem;
    color: whitesmoke;
    margin-top: 2rem;
    font-weight: 200;
    font-style: italic;
}

.heading-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.heading-image1 {
    max-width: 100%; /* Ensure the image scales down on smaller screens */
    height: auto; /* Maintain aspect ratio */
}

.additional-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; 
    margin-top: 2rem;
}
.btn-primary {
    background-color: #9f8c6d; 
    border-color: #9f8c6d;
    color: #fff; 
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-fluid {
    object-fit: cover;
}

.carousel-inner {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: var(--creamy-white);
    border-left: 10px ;
    border-radius: 20px;
}

.carousel-inner .blockquote-footer {
    font-size: 1rem;
    color: #555;
    margin-top: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #eadc94;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

h2.text-center {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--tan);
    font-family: 'Poppins', sans-serif;
}

.bg-light {
    background-color: var(--creamy-white);
}

/* Contact Page Styling */
.contact-page {
    background-color: var(--creamy-white);
    font-family:'Poppins', sans-serif;
}

.heading-image {
    width: 100%; 
    max-width:90px;
    height: auto;
}

.lead {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color:var(--Jean);
}

.col-md-4 {
    font-family:'Poppins', sans-serif;
}

.col-md-8 {
    font-family:'Poppins', sans-serif;
}

/*Properties Page Styling*/
.heading-image {
    width: 70%;
    max-width: 500px;
    height: auto;
}

/* Style for the name images */
.card .card-title img {
    width: auto;
    height: 500%;
    
}

/* Optional: Add padding or margin adjustments if needed */
.card .card-title {
    padding: 2px 0;
}

/* Customer Testimonials Section */
#testimonialCarousel {
    background-color: #6f8faf; 
    color:  whitesmoke;
    font-style: italic; 
    padding: 2rem; 
    margin-top: -20px;
    height: 30vh; 
    overflow-y: auto; 

}

/* Testimonial blockquote */
.blockquote {
    margin: 0; 
}